<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/usr/bin/java"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-jar /Applications/ModelMorf/qvt.jar -p /Applications/ModelMorf -m umlMM -mf /Applications/ModelMorf/Example/UmlToRdbms/umlMM.xml -m rdbmsMM -mf rdbmsMM.xml -c /Applications/ModelMorf/Example/UmlToRdbms/UmlToRdbms.qvt -u uml -f /Applications/ModelMorf/Example/UmlToRdbms/umlUM.xml -u rdbms -f rdbmsUM.xml -t UmlToRdbms -d rdbms -q enforce"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="/Applications/ModelMorf/Example/UmlToRdbms"/>
</launchConfiguration>
