<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--extension
         point="org.eclipse.ocl.examples.pivot.standard_library">
      <library
            class="org.eclipse.ocl.examples.pivot.model.OCLstdlib$Loader"
            uri="http://www.eclipse.org/ocl/3.1.0/OCL.oclstdlib">
      </library>
   </extension-->

</plugin>
